<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="imgMapper">
	<resultMap type="ProfileImg" id="imgResult">
		<result column="PIC_NO" property="picNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="FILE_PATH" property="filePath" />
		<result column="FILE_LEVEL" property="fileLevel" />
		<result column="LOCATION_NO" property="locationNo" />
		<result column="REVIEW_NO" property="reviewNo" />
		<result column="USER_NO" property="userNo" />
		<result column="PET_NO" property="petNo" />
		<result column="BOARD_NO" property="boardNo" />
	</resultMap>
	
	<insert id="insertProfileImg">
		INSERT INTO PICTURE(
			PIC_NO,
			ORIGIN_NAME,
			CHANGE_NAME,
			FILE_PATH,
			FILE_LEVEL,
			USER_NO
		)
		VALUES(
			NEXTVAL('SEQ_PIC'),
			#{originName},
			#{changeName},
			#{filePath},
			#{fileLevel},
			#{userNo}	
		)			
	</insert>
	
	<select id="getProfileImg" resultMap="imgResult">
		SELECT ORIGIN_NAME,
			   CHANGE_NAME,
			   FILE_PATH
		FROM PICTURE
		WHERE USER_NO = #{userNo}
		AND FILE_LEVEL = 0
		ORDER BY PIC_NO DESC
    	LIMIT 1
	</select>
	
</mapper>