<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 
<mapper namespace="memberMapper">
	<resultMap type="Member" id="memberResult">
		<result column="USER_NO" property="userNo"/>
		<result column="USER_ID" property="userId"/>
		<result column="USER_PWD" property="userPwd"/>
		<result column="USER_NAME" property="userName"/>
		<result column="USER_NICKNAME" property="userNickname"/>
		<result column="USER_GENDER" property="userGender"/>
		<result column="USER_EMAIL" property="userEmail"/>
		<result column="ENROLL_DATE" property="enrollDate"/>
		<result column="MODIFY_DATE" property="modifyDate"/>
		<result column="STATUS" property="status"/>
		<result column="USER_BIRTHDAY" property="userBirthday"/>
		<result column="USER_PHONE" property="userPhone"/>
		<result column="USER_KIND" property="userKind"/>
</resultMap>
    <resultMap type="DetailLocation" id="detailLocation">
		<result column="LOCATION_NO" property="locationNo"/>
		<result column="LOCATION_NAME" property="locationName"/>
		<result column="LOCATION_PHONE" property="locationPhone"/>
		<result column="EXPLANATION" property="explanation"/>
		<result column="LOCATION_STAR" property="locationStar"/>
		<result column="RESERVATION_LINK" property="reservationLink"/>
		<result column="ADDRESS" property="address"/>
		<result column="GOODS" property="goods"/>
		<result column="GOODS_PRICE" property="goodPrice"/>
		<result column="ROOM_INFO" property="roomInfo"/>
		<result column="DAYS" property="day"/>
		<result column="CAPACITY" property="capacity"/>
		<result column="LOCATION_CATEGORY_NO" property="locatonCategoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="START_TIME" property="startTime"/>
		<result column="END_TIME" property="endTime"/>
		<result column="REST_STATUS" property="restStatus"/>
		<result column="KIND_NAME" property="kindName"/>
		
   </resultMap>
	<select id="loginMember" resultMap="memberResult">
		SELECT USER_NO,
			   USER_ID,
			   USER_PWD,
			   USER_NAME,
			   USER_NICKNAME,
			   USER_GENDER,
			   USER_EMAIL,
			   ENROLL_DATE,
			   MODIFY_DATE,
			   USER_BIRTHDAY,
			   USER_PHONE,
			   USER_KIND
		  FROM MEMBER
		 WHERE USER_ID = #{userId}
		   AND STATUS = 'true'
	</select>	
	
	<select id="checkMemberId" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE USER_ID = #{checkId}	
	</select>
	
	<insert id="insertCommonMember">
		INSERT INTO MEMBER
			(
			USER_NO,
			USER_ID,
			USER_PWD,
			USER_NAME,
			USER_NICKNAME,
			USER_GENDER,
			USER_EMAIL,
			USER_BIRTHDAY,
			USER_PHONE,
			USER_KIND
			)
		VALUES
			(
			NEXTVAL('SEQ_USER'),
			#{userId},
			#{userPwd},
			#{userName},
			#{userNickname},
			#{userGender},
			#{userEmail},
			#{userBirthday},
			#{userPhone},
			#{userKind}
			)
	</insert>
	
	<insert id="insertBossMember">
		INSERT INTO MEMBER
			(
			USER_NO,
			USER_ID,
			USER_PWD,
			USER_NAME,
			USER_GENDER,
			USER_EMAIL,
			USER_BIRTHDAY,
			USER_PHONE,
			USER_KIND
			)
		VALUES
			(
			NEXTVAL('SEQ_USER'),
			#{userId},
			#{userPwd},
			#{userName},
			#{userGender},
			#{userEmail},
			#{userBirthday},
			#{userPhone},
			#{userKind}
			)
			<!--<selectKey keyColumn="USER_NO" keyProperty="userNo" resultType="int" order="AFTER">
				SELECT CURRVAL('USER_NO') FROM MEMBER;
				LAST_INSERT_ID : 포함된 insert문 실행 후 PK값을 keyProperty에 저장하라는 뜻
				SELECT USER_NO_SEQ.CURRVAL FROM MEMBER
			</selectKey> -->
	</insert>
	<select id="selectUserNo" resultType="_int">
        	SELECT CURRVAL('SEQ_USER')
    </select>

	<update id="updateMember">
		UPDATE MEMBER
		   SET USER_ID = #{userId},
		       USER_NAME = #{userName},
		       USER_NICKNAME = #{userNickname},
		       USER_GENDER = #{userGender},
		       USER_BIRTHDAY = #{userBirthday},
		       USER_EMAIL = #{userEmail},
		       MODIFY_DATE = current_timestamp
		WHERE USER_ID = #{userId}
	</update>

</mapper>