<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 
<mapper namespace="searchMapper">
    <resultMap type="DetailLocation" id="detailLocation">
		<result column="LOCATION_NO" property="locationNo"/>
		<result column="LOCATION_NAME" property="locationName"/>
		<result column="LOCATION_PHONE" property="locationPhone"/>
		<result column="EXPLANATION" property="explanation"/>
		<result column="LOCATION_STAR" property="locationStar"/>
		<result column="RESERVATION_LINK" property="reservationLink"/>
		<result column="ADDRESS" property="address"/>
		<result column="GOODS" property="goods"/>
		<result column="GOODS_PRICE" property="goodPrice"/>
		<result column="ROOM_INFO" property="roomInfo"/>
		<result column="DAYS" property="day"/>
		<result column="CAPACITY" property="capacity"/>
		<result column="LOCATION_CATEGORY_NO" property="locatonCategoryNo"/>
		<result column="CATEGORY_NAME" property="categoryName"/>
		<result column="START_TIME" property="startTime"/>
		<result column="END_TIME" property="endTime"/>
		<result column="REST_STATUS" property="restStatus"/>
		<result column="KIND_NAME" property="kindName"/>
		
   </resultMap>

</mapper>