<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  
 <configuration>
 	
  <settings>
 	
 	<setting name="jdbcTypeForNull" value="NULL"/>
 	</settings>
 	  <!-- typeAlias : VO/DTO 클래스들의 풀클래스명을 단순한 클래스명(별칭)으로 사용하기위한 별칭을 등록하는 영역-->
 	<typeAliases>
 		<typeAlias type="com.kh.mng.member.model.vo.Member" alias="Member" />
 		<typeAlias type="com.kh.mng.pet.model.vo.Pet" alias="Pet" />
 		<typeAlias type="com.kh.mng.location.model.vo.Picked" alias="Picked"/>
 
 		<typeAlias type="com.kh.mng.location.model.vo.Review" alias="Review"/>
 		<typeAlias type="com.kh.mng.location.model.vo.DetailLocationAttachment" alias="DetailLocationAttachment"/>
 		<typeAlias type="com.kh.mng.common.model.vo.Attachment" alias="Attachment"/>
 		<typeAlias type="com.kh.mng.location.model.vo.EnterGrade" alias="EnterGrade"/>
 		<typeAlias type="com.kh.mng.location.model.vo.Location" alias="Location"/>
 		<typeAlias type="com.kh.mng.community.model.vo.Board" alias="Board"/>
 		<typeAlias type="com.kh.mng.location.model.vo.DetailLocation" alias="DetailLocation"/>
 		<typeAlias type="com.kh.mng.location.model.vo.LocationOption" alias="LocationOption"/>
 		<typeAlias type="com.kh.mng.location.model.vo.OperationTime" alias="OperationTime"/>
 		<typeAlias type="com.kh.mng.location.model.vo.PetKindGrade" alias="PetkindGrade"/>
 		<typeAlias type="com.kh.mng.community.model.vo.Shorts" alias="Shorts"/>
 		<!-- <typeAlias type="com.kh.spring.board.model.vo.Board" alias="Board" />
 		<typeAlias type="com.kh.spring.common.model.vo.Reply" alias="Reply" /> -->
 		<typeAlias type="com.kh.mng.picture.model.vo.Picture" alias="Picture"/>
 		
 	</typeAliases> 
 	
 	

  	<mappers>
 		<mapper resource="/mappers/member-mapper.xml"/>
 		<mapper resource="/mappers/pet-mapper.xml"/>
 		<mapper resource="/mappers/location/picked-mapper.xml"/>
 		<mapper resource="/mappers/location/location-mapper.xml"/>
 		<mapper resource="/mappers/location/review-mapper.xml"/>
 		<mapper resource="/mappers/location/attachment-mapper.xml"/>
 		<mapper resource="/mappers/search-mapper.xml"/>
 		<mapper resource="/mappers/main-mapper.xml"/>
 		<mapper resource="/mappers/location/location-detail-mapper.xml"/>
 		<mapper resource="/mappers/community/shorts-mapper.xml"/>
 		<mapper resource="/mappers/picture-mapper.xml"/>
 	    <mapper resource="/mappers/community/community-mapper.xml"/>
 	</mappers>
 	
    
 	
 </configuration>