/*객실등록*/
#room-info{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#room-information td{
    text-align: left;
    padding-top: 13px;
    font-weight: 600;
}

#room-information img{
    width: 115px;
    height: 115px;
}

#room-information .img-box{
    text-align: right;
}