<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="location">

	<resultMap type="bossLocation" id="bossLocationResult">
		<result column="LOCATION_NO" property="locationNo" />
		<result column="LOCATION_NAME" property="locationName" />
		<result column="LOCATION_PHONE" property="locationPhone" />
		<result column="LOCATION_STAR" property="locationStar" />
		<result column="RESERVATION_LINK" property="reservationLink" />
		<result column="BUSINESS_NO" property="businessNo" />
		<result column="ADDRESS" property="address" />
		<result column="ENROLL_DATE" property="enrollDate" />
		<result column="MODIFY_DATE" property="modifyDate" />
		<result column="STATUS" property="status" />
		<result column="USER_NO" property="userNo" />
		<result column="LOCATION_CATEGORY_NO"
			property="locationCategoryNo" />
	</resultMap>
   
   <select id="getLocation" resultMap="bossLocationResult">
   		SELECT LOCATION_NO,
   				LOCATION_NAME,
   				LOCATION_PHONE,
   				LOCATION_STAR,
   				RESERVATION_LINK,
   				BUSINESS_NO,
   				ADDRESS,
   				ENROLL_DATE,
   				MODIFY_DATE,
   				LOCATION_CATEGORY_NO
   				FROM LOCATION
   				WHERE USER_NO = #{userNo}
   </select>
   
   
 	<!-- 장소상세 -->
 
   <!--  <select id="selectDetailList" resultMap="detailLocation">
	   	SELECT  L.LOCATION_NO,
	   				LOCATION_NAME,
	   				LOCATION_PHONE,
	   				EXPLANATION,
	   				LOCATION_STAR,
	   				RESERVATION_LINK,
	   				ADDRESS,
	   				GOODS,
	   				GOODS_PRICE,
	   				ROOM_INFO,
	   				DAYS,
	   				CAPACITY,
	   				L.LOCATION_CATEGORY_NO,
	   				CATEGORY_NAME,
	   				START_TIME,
	   				END_TIME,
	   				REST_STATUS,
	                KIND_NAME
	       FROM LOCATION L 
	       JOIN LOCATION_OPTION O
	       ON (O.LOCATION_NO = L.LOCATION_NO)
	       JOIN LOCATION_CATEGORY C
		   ON (C.LOCATION_CATEGORY_NO = L.LOCATION_CATEGORY_NO)
		   JOIN OPERATION_TIME T
		   ON (T.LOCATION_NO = L.LOCATION_NO)
	      JOIN 
			(
			SELECT LOCATION_NO AS LN , PET_KIND_NAME AS KIND_NAME FROM ENTER_GRADE E 
			JOIN PET_SIZE P ON (E.PET_SIZE_NO = P.PET_SIZE_NO)
			JOIN PET_KIND K ON (K.PET_KIND_NO = P.PET_KIND_NO)
			) P
		  ON (L.LOCATION_NO=P.LN) WHERE L.LOCATION_NO = #{locationNo} AND STATUS = true

    </select>-->
    
    
    
    <insert id="insertLocation">
      INSERT INTO LOCATION
         (
         LOCATION_NO,
         LOCATION_NAME,
         LOCATION_PHONE,
         EXPLANATION,
         BUSINESS_NO,
         ADDRESS,
         USER_NO,
         LOCATION_CATEGORY_NO
         )
      VALUES
         (
         NEXTVAL('SEQ_LOC'),
         #{locationName},
         #{locationPhone},
         #{explanation},
         #{businessNo},
         #{address},
         #{userNo},
         CAST(#{locationCategoryNo} AS INTEGER)
         )
   </insert>
   
      <select id="getLocationList" resultMap="bossLocationResult">
   		SELECT LOCATION_NO,
   				LOCATION_NAME,
   				LOCATION_PHONE,
   				LOCATION_STAR,
   				RESERVATION_LINK,
   				BUSINESS_NO,
   				ADDRESS,
   				ENROLL_DATE,
   				MODIFY_DATE,
   				LOCATION_CATEGORY_NO
   				FROM LOCATION
   </select>
  

 	</mapper>
 
 
